@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Lato');

$header-height: 82px;
$footer-height: 100px;

html {
  height: 100%;
}

body, .wrapper {
  display: flex;
  min-height: 100%;
  max-height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;

  & > div {
    display: flex;
    width: 100%;
  }
}

.sidebar {
  width: 80px;
  background-color: #25272E;

  .logo::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #1D2028;
    border-bottom: 1px solid #31343C;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;

  .loader {
    width: 100px;
    height: 100px;
    margin: 0 auto;

    .rotating-circle {
      display: inline-flex;
      width: inherit;
      height: inherit;
      animation: rotate 1s infinite linear;

      & > div {
        position: relative;
        width: 50%;
        height: inherit;
        overflow: hidden;
        
        & > div {
          position: absolute;
          border: 3px solid;
          border-radius: 50%;
          border-color: transparent;
          width: 200%;
          left: 0;
          right: 0;
          height: inherit;
        }

        &.circle-left > div {
          border-left-color: #25272E;
          transform: rotate(60deg);

          animation: rotation-left 1.5s infinite ease-in-out;
        }

        &.circle-right > div {
          border-right-color: #25272E;
          transform: rotate(-60deg);
          left: -100%;

          animation: rotation-right 1.5s infinite ease-in-out;
        }
      }
    }
  }

  .notification-container {
    margin-top: 90px;
    overflow: hidden;
  }

  .user-picture {
    min-width: 34px;
    height: 34px;
    border-radius: 25%;
    background-color: #979797;
    overflow: hidden;

    img {
      display: block;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
      border: 1px solid #979797;
    }
  }

  header {
    height: $header-height;
    border-bottom: 1px solid #EEEEEE;
    padding: 16px 22px;
    color: #626262;
    display: flex;
    justify-content: space-between;
  
    .title {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: normal;
      line-height: normal;
      font-size: 36px;
    }
  
    .parrots-count {
      display: flex;
    
      &::before {
        content: url('../imgs/light-parrot.svg');
        align-self: center;
        margin-right: 10px;
      }
    }
  }

  .messages-section {
    flex-grow: 1;
    padding-top: 18px;
    overflow-y: auto;
    max-height: calc(100vh - #{$header-height + $footer-height});
  }

  footer {
    display: inline-flex;
    height: $footer-height;
    background-color: #EFEFEF;
    padding: 24px;

    .user-picture {
      height: 52px;
      width: 52px;
    }

    .message-input {
      flex-grow: 1;
      border-radius: 6px;
      border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.5);

      margin: 0 24px;
      padding: 0 15px;
      font-family: Lato, sans-serif;
      font-size: 14px;
    }

    .send-message {
      height: 32px;
      color: #393939;
      align-self: center;
      cursor: pointer;
      filter: opacity(0.55);
      transition: filter 0.3s;

      &:hover {
        filter: opacity(0.65);
      }
    }
  }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotation-left {
  0% { transform: rotate(110deg); }
  50% { transform: rotate(45deg); }
  100% { transform: rotate(110deg); }
}

@keyframes rotation-right {
  0% { transform: rotate(-110deg); }
  50% { transform: rotate(-45deg); }
  100% { transform: rotate(-110deg); }
}